@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply reddish background and text globally */
body {
  @apply bg-red-100 text-red-900;
}

li {
  list-style-type: square;
  margin-left: 30px;
  padding: 2px;
}
